.popular-articles {
    max-width: 280px;
    float: right;
    margin-top: 165px;
    @include breakpoint (1370) {
        display: none;
    }
    h2 {
        font-size: 22px;
        font-weight: $bold;
        line-height: 1.3;
        margin: 0;
        margin-bottom: 20px;
    }
    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        li {
            list-style: none;
            padding-bottom: 10px;
            a {
                line-height: 1.4;
                font-size: 16px;
                font-weight: $thin;
                text-decoration: underline;
                color: #333;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
    form {
        .email-form {
            width: 250px;
            height: 55px;
            @include box-shadow(0 0 20px -7px #000);
        }
        button {
            width: 250px;
            margin-top: 20px;
            background-color: $main-background !important;
            font-size: 18px !important;
        }
    }
    .subscribe-result {
        position: relative;
        padding-left: 62px;
        padding-top: 10px;
        line-height: 22px;
        &:before {
            width: 42px;
            height: 50px;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url("/images/smart/icons/thanks-for.png");
            background-size: contain;
            background-repeat: no-repeat;
            content: "";
        }
        strong {
            font-size: 18px;
        }
    }
}