$font:14px;
$thin:300;
$normal:400;
$medium: 500;
$semi-bold:600;
$bold:700;
$family: 'MuseoSans', sans-serif;

$main-background: #fcfcfc;
$footer-background: #f0f4f3;
$white: #FFFFFF;
$black: #0b0b0b;
$orange: #eb490f;
$grey: #6f6f6f;
$dark-grey: #414141;