@import "common";
@import "content-top";
@import "selected";
@import "product-grid-print";
@import "pagination";
@import "top-feature";
@import "seo-text";
@import "toolbar";
@import "filter-buttons";

.banner {
    margin:10px 0; 
    img {
        width:100%;
    }
}

.breadcrumbs {
    padding-left: 25px;
}
.content-box {
    padding-top: 35px;
    .flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        flex-direction: row-reverse;
        align-items: flex-start;
        @include breakpoint(960) {
            display: block;
        }
    }
    .right-box {
        width: 100%;
        padding-left: 50px;
        padding-right: 20px;
        @include breakpoint(960) {
            width: auto;
            margin: 0;
            padding: 0;
        }
    }
    .left-box {
        width: 275px;
        min-width: 275px;
        padding-left: 25px;
        padding-bottom: 25px;
        @include breakpoint(960) {
            display: none;
        }
    }
}