/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.01.2018, 15:31:23
    Author     : user5
*/

@import "product";

.product-print-form-flex {
    @include breakpoint(960){
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 70px;
    }
    @include breakpoint(479){
        margin-bottom: 70px * 0.75;
    }
    @include breakpoint(359){
        margin-bottom: 70px * 0.66;
    }
}